<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/index.css">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <img id="logo" src="../static/StarBooks.png" alt="Logo" width="190px" height="190px"> 
        <a id="login" href="{{url_for('login')}}"> Login </a>
    </div>
    <div id="intro">
        <h2>Welcome to StarBooks !</h2>
        <p>Do you love books? If yes then you have landed on the right page. </p>
        <p>Have you already read some?. Join now and review them.</p>
        <p>Wondering which book to read...check the reviews and decide.</p>
    </div>
    <div id="quote">
        "A room without books is like a body without a soul."
        <br>
        -Cicero
    </div>
</body>
</html>